@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --mouse-x: 0;
  --mouse-y: 0;

  --window-width: 1440;
  --window-height: 900;

  --scroll-x: 0;
  --scroll-y: 0;

  --glow-color: rgba(183, 79, 196, 0.514);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
